.header{
  height: 55px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position:fixed;
  /* height: 50px; */
  top:0;
  left:0;
  right: 0;
  background-color: white;
  border-bottom-width: 1px ;
  border-bottom-style: solid;
  border-bottom-color:rgb(212, 208, 208);
  z-index: 10;
}
.leftSection{
  display: flex;
  /*agr simply align -item likhte to kuch  nhi hoga..it is a property of flexbox..so pehle flex lana hoga*/
  align-items: center;
}
.hamburger-button {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s;
  cursor: pointer;
  margin-left: 20px;
  margin-right: 20px;
}
.hamburger-button:hover{
  background-color: rgb(178, 178, 178);
}

.hamburger-logo{
  height:24px;
  width:24px;
}
.leftSection .youtube-logo{
  height:24px;
}

.middleSection{
  display: flex;
  background-color: white;
  flex:1;
  margin-left: 70px;
  margin-right: 35px;
  max-width: 500px;
  align-items: center;
  justify-content: space-between;
}
.search-bar{
  flex:1;
  height: 40px;
  width: 0;
  padding-left: 10px;
  font-size: 15px;
  border: 1px solid rgb(204, 204, 204); 
  /* border-radius: 1px; */
  box-shadow: inset 1px 2px 3px rgba(0,0,0,0.1);
  box-sizing: border-box; /* Add this line */
  border-radius: 20px 0 0 20px; /* round only the left side */
}
.search-bar::placeholder{
  font-family: Roboto,Arial;
  font-size: 16px;
}
.srchButton{
  width: 60px;
  height: 40px;
  border: 1px solid rgb(204, 204, 204); 
  border-radius: 0 20px 20px 0; /* round only the right side */
  margin-left: -1px;
  margin-right: 9px;
  box-sizing: border-box; /* Add this line */
}
.srchButtonImg{
  height: 28px;
}
.voiceB{
  /* margin-left:-9px; */
  border: none;
}
.microphone{
  height: 40px;
  width: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s;
  cursor: pointer;
  margin-left: 5px;
  margin-right: 5px;
}
.microphone:hover{
  background-color: rgb(178, 178, 178);
}

.voice-logo{
  height:24px;
  width:24px;
}


.srchButton, .microphone, .topRight{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.srchButton .tooltip, .microphone .tooltip,
.topRight .tooltip,.Noti .tooltip{
  position:absolute;
  background-color: gray;
  color:white;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left:4px;
  padding-right:4px;
  border-radius: 2px;
  font-size: 12px;
  bottom: -30px;
  opacity:0;
  pointer-events: none;
  white-space: nowrap;
}
.srchButton:hover .tooltip, .microphone:hover .tooltip,
.topRight:hover .tooltip,
.Noti:hover .tooltip{
  opacity: 1;
  transition: opacity 0.15;
}



.rightSection{
  width: 180px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 18px;
}
.topRight{
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: none;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 0.3s;
}
button.topRight:hover{
  background-color: rgb(178, 178, 178);
}

.AppsI,.CreateI,.profileBI{
  height: 24px;
  border-radius: 50%; /* For circular profile pic */
}

.Noti{
  position: relative;
}
.Notification{
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: none;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 0.3s;
}
.Notification:hover {
  background-color: rgb(178, 178, 178);
}
.NotiCount{
  font-family: Roboto,Arial;
  font-size: 11px;
  padding-left:6px ;
  padding-right: 6px;
  padding-top:2px;
  padding-bottom:2px;
  position:absolute;
  top:-2px; /*we can add negative val to go beyond the limit */
  right:0;
  background-color: red;
  color: white;
  border-radius: 10px;
}

