.video-grid{
  display: grid;
  /* grid-template-columns: 1fr 1fr 1fr; */
  column-gap: 16px;
  row-gap: 40px;
  /* inheritance works with only text property...so element inside the parent will inherit this propert */
  /* text-decoration: underline; */ /*-->this is inheritance */
}
@media (max-width:750px) {
  .video-grid{
    /* 1 fr 1 fr mtlb 2 col creat hoga..3 br 1 fr than 3 col..likewise */
    grid-template-columns: 1fr 1fr;
  }
}
@media(min-width:751px) and (max-width:999px){
  .video-grid{
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media (min-width:1000px){
  .video-grid{
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.thumbnail-row {
  margin-bottom: 10px;
  position:relative;
}

.thumbnail {
  width: 100%;
  border-radius:10px;
}
.videoInfo-grid{
  display:grid;
  grid-template-columns: 50px 1fr;
}
.videoInfo a {
  text-decoration: none;
  color: black;
}

.profilePic {
  width: 36px;
  border-radius: 50px;
}
.videoTitle {
  margin-top: 0;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  margin-bottom: 10px;
}
.videoAuthor {
  margin-bottom: 4px;
}
.videoAuthor, .videoStats {
  font-size: 12px;
  color: #606060;
}
.time-stamp{
  font-weight: 500;
  font-size: 12px;
  padding: 4px;
  border-radius: 2px;
  position:absolute;
  /* top:10px; */
  bottom: 10px;
  /* left:100px; */
  right:8px;
  /* width:100px; */
  background-color: black;
  color:white;
}
a {
  text-decoration: none;   /* removes underline */
  color: inherit;          /* inherits text color from parent */
}



